* {
    margin: 0;
    padding: 0
}

body {
    color: #555;
    background: #ecdedd;
}

p {
    line-height: 1.4;
    margin-bottom: 12px
}

#wrapper {
    width: 673px;
    margin: 50px auto
}

#container {
    position: relative;
    background: #fff;
    padding: 32px;
    height: 235px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.sliderbutton {
    float: left;
    width: 35px;
    height: 64px;
    cursor: pointer;
    margin-top: 15%;
}

.sliderbutton:hover {
    opacity: 0.6;
}

#slideleft {
    background: url(../img/slider-left.png) center no-repeat;
}


/*#slideleft:hover {
    background-position: -0 -265px
}*/

#slideright {
    background: url(../img/slider-left.png) center no-repeat;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


/*#slideright:hover {
    background-position: -50px 90px
}*/

#slider {
    float: left;
    font-family: Arial;
    position: relative;
    overflow: auto;
    width: 90%;
    height: 400px;
    margin: 0 10px;
    padding-bottom: 30px;
    background: rgb(0, 222, 1);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 222, 1, 1) 1%, rgba(0, 111, 1, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(0, 222, 1, 1)), color-stop(100%, rgba(0, 111, 1, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 222, 1, 1) 1%, rgba(0, 111, 1, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 222, 1, 1) 1%, rgba(0, 111, 1, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 222, 1, 1) 1%, rgba(0, 111, 1, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 222, 1, 1) 1%, rgba(0, 111, 1, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0171a4', endColorstr='#01496a', GradientType=0);
}

#slider ul {
    position: absolute;
    list-style: none;
    top: 0;
    left: 0
}

#slider li {
    float: left;
    width: 950px;
    height: 235px
}

#slider li img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.4);
    margin-left: 60px;
}

.pagination {
    position: absolute;
    top: 40px;
    right: 61px;
    list-style: none;
    height: 25px
}

.pagination li {
    float: left;
    cursor: pointer;
    height: 8px;
    width: 8px;
    background: #ccc;
    margin: 0 4px 0 0;
    border: 1px solid #fff
}

.pagination li:hover,
li.current {
    background: #fff
}

.slider__left {
    position: relative;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider__right {
    text-align: right;
    padding: 0 20px;
    padding-top: 15px;
    font-style: italic;
    border-top: 1px solid #4682B4;
}

.signature {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.slider__right p {
    line-height: 20px;
    font-size: 17px;
    text-align: right;
    word-wrap: break-word;
    max-width: 800px;
    display: block;
    margin: auto;
    color: #fff;
}

#slider ul li .second-img {
    margin-left: -35px;
}

.pagination li {
    display: none;
}

.signature-block__description {
    font-size: 18px;
    color: #fcb405;
    font-style: italic;
    font-weight: 600;
}

.signature-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.signature-block__name {
    margin: 0;
}

@media screen and (min-width:600px) and (max-width:800px) {
     .sliderbutton {
        margin-right: 0;
    }
    .right-form {
        margin-right: 30px;
    }
    #slideleft,
    #slideright {
        background-size: 20px;
    }
/*    #slider li {
        width: 700px;
    }*/
    .slider__right p {
        text-align: right;
        max-width: 600px;
        margin: inherit;
    }
    #slider {
        height: 450px;
        margin: 0 auto;
    }
}
